body {
    font-family: 'Press Start 2P', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #fa7268, #d1c2e3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.nav {
    width: 100%;
    background-color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 18px;
    color: #fa7268;
}

.dropbtn {
    background-color: #fa7268;
    color: white;
    font-size: 14px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    width: 900px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.images img {
    width: 100%;
    border-radius: 10px;
}
