body {
    background: url('/Users/selina/Desktop/Zhao_c1ix_f24/S25_Interaction_studio/entries/entry5/assets/background.GIF') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    font-family: 'Iowan Old Style', serif;
    cursor: none;
}

.word {
    position: absolute;
    font-size: 1.5rem;
    color: #ffffff;
    opacity: 0;
    transition: transform 1s ease, color 0.3s ease;
    user-select: none;
}

.word.appear {
    opacity: 1;
    animation: floatSlow 30s infinite ease-in-out;
}

.word:hover {
    color: #ffd900;
}

@keyframes floatSlow {
    0% { transform: translate(0, 0); }
    25% { transform: translate(500px, -300px); }
    50% { transform: translate(-400px, 400px); }
    75% { transform: translate(300px, 500px); }
    100% { transform: translate(0, 0); }
}

.line {
    font-size: 3rem;
    color: #ffffff;
    opacity: 0;
    transition: all 1.5s ease;
}
