body {
    background: linear-gradient(to right, #fa7268, #d1c2e3);
    font-family: 'Press Start 2P', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    text-shadow: 4px 4px 8px black;
    animation: fadeIn 1.5s ease;
    margin-bottom: 20px;
}

.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: black;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    position: relative;
    margin: 20px auto;
}

.hour, .minute, .second {
    position: absolute;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%);
}

.hour {
    width: 12px;
    height: 90px;
    background: white;
    top: 60px;
}

.minute {
    width: 8px;
    height: 120px;
    background: white;
    top: 30px;
}

.second {
    width: 4px;
    height: 140px;
    background: red;
    top: 10px;
}

.test-text {
    font-size: 16px;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 20px;
}

.sad-emoji {
    font-size: 50px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.3s;
    margin: 10px auto;
}

.sad-emoji:hover {
    transform: scale(1.2);
    color: #ffb3b3;
}

.button {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 20px 40px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
    font-family: 'Press Start 2P', sans-serif;
    margin: 20px auto;
}

.button:hover {
    background-color: #333;
    transform: scale(1.1);
}

.progress-bar {
    width: 0%;
    height: 12px;
    background: linear-gradient(to right, #af4c9e, #ff00ea);
    border-radius: 5px;
    margin-top: 20px;
    animation: progressAnimation 2s ease-in-out forwards;
}

@keyframes progressAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}